<a href="https://colab.research.google.com/github/LeeHyunWoo2/pythonStudy24/blob/master/dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

딕셔너리 = JSON 처럼 키-값 쌍

{Key1: Value1, Key2: Value2, Key3: Value3, ...}

In [2]:
dic = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}
print(dic)

{'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}

In [3]:
a = {1: 'hi'} # Value로 문자열 'hi'를 사용한 예
print(a)

{1: 'hi'}

In [4]:
a = {'a': [1, 2, 3]} # Value에 리스트도 넣을 수 있다.
print(a)

{'a': [1, 2, 3]}

In [5]:
a = {1: 'a'} # 딕셔너리 쌍 추가하기
a[2] = 'b'
a

{1: 'a', 2: 'b'}

In [6]:
a['name'] = 'pey'
a

{1: 'a', 2: 'b', 'name': 'pey'}

In [8]:
a[3] = [1, 2, 3]
a

{1: 'a', 2: 'b', 'name': 'pey', 3: [1, 2, 3]}

In [9]:
del a[1] # 딕셔너리 쌍 삭제하기
a

{2: 'b', 'name': 'pey', 3: [1, 2, 3]}

In [10]:
grade = {'pey': 10, 'julliet': 99}
print(grade['pey'])
print(grade['julliet'])

10
99

In [11]:
a = {1:'a', 2:'b'}
print(a[1])
print(a[2])

a
b

In [15]:
dic = {'name':'pey', 'phone':'010-9999-1234', 'birth': '1118'}
print(dic['name'], dic['phone'], dic['birth'])

pey 010-9999-1234 1118

In [16]:
# 딕셔너리 만들 때 주의할 사항
# 딕셔너리에서 Key는 고유한 값이므로 중복되는 Key 값을 설정해 놓으면 하나를 제외한 나머지 것들이 모두 무시된다는 점에 주의해야 한다.
# 다음 예에서 볼 수 있듯이 동일한 Key가 2개 존재할 경우, 1: 'a' 쌍이 무시된다.

a = {1:'a', 1:'b'}
a

{1: 'b'}

In [17]:
# 그리고 Key에 리스트를 넣을 수 없음. 튜플은 가능함 (변할수있냐 없냐 차이 때문)

a = {[1,2] : 'hi'}
a

TypeError: unhashable type: 'list'

In [20]:
# Key 리스트 만들기
a = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}
a.keys()

dict_keys(['name', 'phone', 'birth'])

In [21]:
# Value 리스트 만들기 - values

a.values()

dict_values(['pey', '010-9999-1234', '1118'])

In [22]:
# Key, Value 쌍 얻기 - items

a.items()

dict_items([('name', 'pey'), ('phone', '010-9999-1234'), ('birth', '1118')])

In [23]:
# Key: Value 쌍 모두 지우기 - clear

a.clear()
a

{}

In [24]:
# Key로 Value 얻기 - get

a = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}
a.get('name')
a.get('phone')

'010-9999-1234'

In [27]:
print(a.get('namename')) # 존재하지 않는 Key를 가져오려고 할 경우 None 반환

None

In [28]:
print(a.get('namename', 'asdf')) # 뒤에 값을 하나 더 넣어두면 그걸 기본값으로 가져옴

asdf

In [32]:
# 해당 Key가 딕셔너리 안에 있는지 조사하기

print('name' in a)
print('email' in a)

True
False