<a href="https://colab.research.google.com/github/LeeHyunWoo2/pythonStudy24/blob/master/ListType.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

테이블 자료처리 : 각각의 객체를 모아서 처리하는 용도

* 리스트 자료형
* 튜플 자료형
* 딕셔너리 자료형
* 집합 자료형

In [1]:
# 리스트 자료형 : 대괄호 이롱하여 감싸고 쉼표로 요소를 구분

odd = [1, 3, 5, 7, 9] # 자바의 배열과 유사하나 배열은 초기 행렬값을 갖는다. (크기조정 불가) -> 이 한계점 때문에 ArrayList 사용.

a = [] # 빈 리스트
b = [1, 2, 3] # 정수형 리스트
c = ['Life', 'is', 'too', 'short'] # 문자형 리스트
d = [1, 2, 'Life', 'is'] # 혼합형 리스트
e = [1, 2, ['Life', 'is']] # 리스트의 리스트

In [2]:
# 리스트 인덱싱
a = [1, 2, 3]
print(a[0]) # a리스트의 0번 인덱스를 출력

1

In [3]:
a[0] + a[2]

4

In [4]:
a[-1] # 마지막 요소값 (마이너스는 반대로)

3

In [30]:
a = [1, 2, 3, 4, ['a', 'b', 'c']] # 2차원 배열
a[-1][0]                          # 2차원 배열을 출력하려면 대괄호 두개. (행열처럼)

'a'

In [43]:
# 3차원 배열 -> 사진이나 영상 처리, 게임 (가로 x 세로 -> 픽셀, 깊이 -> RGB컬러)
MEMBER = [['김기원', ['교사', 312]],['이현우', ['학생', 312]], ['조건재', ['학생', 312]]]
MEMBER[0][1][0]

'교사'

In [46]:
# 리스트 슬라이싱
a = [1, 2, 3, 4, 5]
a[0:2]

[1, 2]

In [48]:
a[:2] # 처음부터 2번인덱스 전까지

[1, 2]

In [50]:
a[2:] # 2번부터 마지막까지

[3, 4, 5]

In [52]:
a=[1,2,3,['a','b','c'],4,5]
a[2:5]

[3, ['a', 'b', 'c'], 4]

In [56]:
a[3][1:]

['b', 'c']

In [59]:
# 리스트 연산: +, * 를 활용할 수 있다.

a=[1,2,3]
b=[4,5,6]
a+b # 문자열의 + 계산과 유사하다

[1, 2, 3, 4, 5, 6]

In [61]:
a*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [66]:
# 리스트의 길이 구하기
len(a)

3

In [72]:
# 리스트에 글자 추가하기
a=[1,2,3]
a[2]+"hi" #

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [83]:
str(a[2]) + "gd"

'3gd'

In [86]:
# 리스트 값 수정, 삭제
a=[1,2,3]
a[2]=4
a

[1, 2, 4]

In [88]:
a[2] = "\000"
a

[1, 2, '\x00']

In [89]:
del a[2] # del 명령어는 객체를 삭제하는 명령어
a

[1, 2]

In [91]:
a = [1, 2, 3, 4, 5]
del a[2:]
a

[1, 2]

In [97]:
# 리스트 관련 함수

# .append() : 이미 만들어진 리스트에 객체를 추가할때
a = [1, 2, 3]
a.append(4)
a

[1, 2, 3, 4]

In [98]:
a.append([5,6])
a

[1, 2, 3, 4, [5, 6]]

In [99]:
# sort() : 리스트 요소를 정렬 해준다.
a = [1,4,3,2]
a.sort();
a

[1, 2, 3, 4]

In [101]:
a.reverse();
a

[1, 2, 3, 4]

In [106]:
a=[6,'김기원', '@', 'a']
a.sort
a

[6, '김기원', '@', 'a']

In [108]:
a.reverse
a

[6, '김기원', '@', 'a']

In [116]:
b=['b', 'd', 'a', 'c', 'z']
b.sort()
b

['a', 'b', 'c', 'd', 'z']

In [119]:
b.reverse();
b

['z', 'd', 'c', 'b', 'a']

In [120]:
c=['가', '나', '다', '라', '마']
c.sort()
c

['가', '나', '다', '라', '마']

In [121]:
c.reverse();
c

['마', '라', '다', '나', '가']

In [127]:
# 인덱스 반환 .index(주소)

a=[1,2,3]
#  0 1 2
a.index(3)

2

In [123]:
a.index(4)

ValueError: 4 is not in list

In [132]:
# 리스트에 요소 삽입 .insert(인덱스, 값)

a=[1,2,3]
a.insert(0,4) # 0번 인덱스에 4값을 추가하고 기존값의 인덱스가 뒤로 밀림
a

[4, 1, 2, 3]

In [133]:
a.insert(3, 555) # 3번 인덱스에 555값을 추가하고 기존값 인덱스가 뒤로 밀림
a

[4, 1, 2, 555, 3]

In [134]:
a.remove(555) # .remove(값) 값이 제거됨
a

[4, 1, 2, 3]

In [135]:
b=[3,1,3,1,3,1,3,1]
b.remove(3) # 3이 여러개일때 첫번째 요소가 지워짐 (한번 실행하고 끝)
b

[1, 3, 1, 3, 1, 3, 1]

In [137]:
# 리스트 요소 끄집어 내기 .pop(인덱스)

c = [1,2,3,4,5,6]
c.pop()

6

In [138]:
c

[1, 2, 3, 4, 5]

In [139]:
c.pop(3)

4

In [140]:
c

[1, 2, 3, 5]

In [141]:
d = [1,2,3,12,3,3,3,3,3,123,123,123,2]
d.count(3) # 3값이 몇개인지

6

In [142]:
len(d)

13

In [143]:
# 리스트 확장 : extend(x) x는 리스트만 올 수 있으며 a[] + x[]
e=[1,2,3,4,5]
e.extend([9,99,999])
e

[1, 2, 3, 4, 5, 9, 99, 999]